<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Jason's Store</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand ml-2">Jason's Outdoor Gear</span>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            Hello Dan, this is just a test to see if you can read this part of my website.
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</body>
</html>
